.details-container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .images-container {
    img {
      height: 40vh;
      object-fit: cover;
    }
  }

  .buttons {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    gap: 0.5rem;

    button {
      background: #FBCA1F;
      font-family: inherit;
      padding: 0.6em 1.3em;
      font-weight: 900;
      font-size: 18px;
      border: 3px solid black;
      border-radius: 0.4em;
      box-shadow: 0.1em 0.1em;

      &:disabled {
        opacity: 0.8;
      }
    }

    button:hover {
      transform: translate(-0.05em, -0.05em);
      box-shadow: 0.15em 0.15em;
    }

    button:active {
      transform: translate(0.05em, 0.05em);
      box-shadow: 0.05em 0.05em;
    }
  }
}