.details-container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .images-container {
    img {
      height: 40vh;
      object-fit: cover;
    }
  }

  .buttons {
    position: fixed;
    bottom: 0;
    right: 0;
  }
}