.grid-container {
  flex-grow: 1;
  margin: 5rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5rem;

  .single-veg {
    display: flex;
    justify-content: left;
    transition: 0.2s ease-in-out;

    img {
      height: 50px;
      width: 50px;
      aspect-ratio: 1/1;
      transition: 0.2s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }

    &:has(:hover) {
      h2 {
        color: rgb(85, 85, 85);
      }
    }
  }
}