.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-image: url('../../assets/images/bg.jpg');
  background-size: cover;
  height: 100vh;

  .single-veg {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;

    img {
      height: 90px;
      width: 90px;
      aspect-ratio: 1/1;
      transition: 0.2s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }

    &:has(:hover) {
      h2 {
        color: rgb(85, 85, 85);
      }
    }
  }
}