.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  padding-top: 5rem;
}



.container-bg {
  background-image: url('../../assets/images/bg.png');
  background-position: 0rem -15rem;
  background-repeat: no-repeat;
  background-size: cover;
}