.footer-container {
  background: #dddddd;
  height: min(10rem, 20vh);
  width: 100dvw;
  padding: 2rem;

  .footer-content {
    width: min(90%, 1400px);
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
  }
}