.footer-container {
  background: #dddddd;
  width: 100%;

  .footer-content {
    text-align: center;
    padding: 3rem;
    margin: auto;
    font-size: 0.9rem;

    .dev,
    .art {
      font-size: 0.8rem;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        margin: 0;
        margin-right: 0.5rem;
      }
    }

    a {
      color: black;
      transition: 0.2s ease-in-out;
      font-size: 1.2rem;
      margin-right: 0.5rem;

      &:hover {
        opacity: 0.9;
        color: rgb(68, 68, 68);
        cursor: pointer;
      }
    }
  }
}



@media screen and (max-width: 1024px) {

  .footer-container {


    .footer-content {
      padding: 2rem;
      font-size: 0.8rem;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
}